header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .07);
}

header .inner {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.8rem;
  letter-spacing: -.05rem;
}

nav a {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: .04rem;
  position: relative;
  transition: color .2s;
}

nav a:hover {
  color: slateblue;
}

nav a.active {
  font-weight: 800;
  color: slateblue;
}

nav a::after {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  height: .2rem;
  background-color: slateblue;
  transform: scaleX(0);
  bottom: -.6rem;
  transition: transform .25s ease;
}

nav a.active::after,
nav a:hover::after {
  transform: scaleX(1);
}
